---
import { SOCIALS } from "@config";
import LinkButton from "@components/LinkButton.astro";
// import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

// eslint-disable-next-line
const { centered = false } = Astro.props;

// <span class="ml-1">{social.linkText || ""}</span>
// <Fragment className="" set:html={socialIcons[social.name]} />
---

<div class="social-icons pl-4">
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button mr-4"
        title={social.linkTitle}
      >
        {social.name}
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 sm:p-1;
  }
</style>
